* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card10 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 17rem;
  height: auto;
  margin-left: 1rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  width: 100%;
  height: 9rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: large;
  margin-bottom: 1rem;
  #span1 {
    margin-left: 0.6rem;
    font-weight: bold;
  }
  #span2 {
    margin-right: 0.6rem;
  }
}
