.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 324px;
  background: linear-gradient(153deg, #d2cced, #ffffff, #9db6f3, #86a7f4ec);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.image {
  width: 125px;
  height: 146px;
  border-radius: 69%;
  overflow: hidden;
  margin-top: 1px;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  margin-top: 10px;
}

.menu-name {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  height: 30px;
  background: linear-gradient(153deg, #d2cced, #ffffff);
  color: #000000;
  width: 140px;
  border-radius: 50px;
}

.play-button {
  background: linear-gradient(153deg, #ffffff, #ffffff);
  /* color: #b8b1b1; */
  padding: 0px;
  width: 64px;
  border: none;
 border-radius: 29px;
  cursor: pointer;
}

.description {
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  margin-top: 10px;
  margin-right: 73px;
  width: 185px;
  height: 114px;
  border-radius: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}