.content {
  background: white;
  padding: 20px;
  width: 98%;
  height: 100%; 
  display: none;
}

.active-content {
  display: block;
}

.active-tabs::before {
  content: '';
}

.topics1{
  margin: 50px;
}

.New-tab{
  margin-top: 50px;
  margin-bottom: 20px;
  background: #c5c5bf57;
  padding: 19px;
}

.card3{
  padding: 5px;
  background-color: #f5f5f2;
}