.content {
  background: white;
  padding: 20px;
  width: 98%;
  height: 100%; 
  display: none;
}

.active-content {
  display: block;
}

.active-tabs::before {
  content: '';
}

.topics1{
  margin: 50px;
}

.New-tab{


    margin-top: 50px;
    margin-bottom: 20px;
}