 

.quiz-container {

  max-width: 600px;

  margin: 20px auto;

  padding: 20px;

  background: linear-gradient(to bottom, #3a73c9, #ffffff, #efefef);

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

 

.question {

  margin-bottom: 20px;

}

 

.question h2 {

  margin-bottom: 10px;

  color: #007bff;

}

 

label {

  display: block;

  margin-bottom: 10px;

}

 

button {

  padding: 10px 20px;

  margin-right: 10px;

  cursor: pointer;

  background-color: #007bff;

  color: #fff;

  border: none;

  border-radius: 4px;

  transition: background-color 0.3s ease;

}

 

button:hover {

  background-color: #0056b3;

}

 

button:disabled {

  background-color: #ccc;

  cursor: not-allowed;

}

 

.feedback {

  margin-top: 10px;

  padding: 10px;

  background-color: #f0f0f0;

  border-radius: 8px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

 

.correct {

  color: #0a960a;

}

 

.wrong {

  color: #ff0000;

}

 

/* Optional: Styling for radio buttons */

input[type='radio'] {

  margin-right: 5px;

}

 

/* CSS for the scorecard */

.scorecard {

  margin-top: 20px;

  padding: 20px;

  background-color: #fff;

  border-radius: 8px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

 

.scorecard p {

  margin: 0;

  font-weight: bold;

  color: #333;

}

 

.scorecard-score {

  text-align: center;

  margin-bottom: 20px;

}

 

.scorecard-score p {

  font-size: 18px;

}

 

.scorecard-score span {

  display: block;

  font-size: 24px;

  color: #007bff;

}

 

.scorecard-answers {

  margin-bottom: 20px;

}

 

.scorecard-question {

  margin-bottom: 10px;

}

 

.scorecard-question p {

  margin-bottom: 5px;

}

 

.scorecard-question p.correct-answer {

  color: #0a960a;

}

 

.scorecard-question p.wrong-answer {

  color: #ff0000;

}

 

.scorecard-button {

  text-align: center;

}

 

.scorecard-button button {

  background-color: #007bff;

  color: #fff;

  padding: 10px 20px;

  border: none;

  border-radius: 4px;

  cursor: pointer;

  transition: background-color 0.3s ease;

}

 

.scorecard-button button:hover {

  background-color: #0056b3;

}