@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gideon+Roman&family=Oswald&family=Rye&display=swap");

.navbar {
  background: #1450a3cc;
  color: #000000;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  flex-wrap: wrap;
  position: relative;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li p {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Arapey", serif;
  font-size: 18px;
  font-weight: 800;
}

.nav-links li p:hover {
  color: white;
  cursor: pointer;
}

.login-btn {
  background-color: #5a8ad0;
  color: #ffffff;
  border: none;
  padding: 9px 16px;
  border-radius: 9px;
  cursor: pointer;
  width: 101px;
  font-family: "Arapey", serif;
  font-size: 18px;
  margin-right: 12px;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    position: absolute;
    background-color: #fff;
    top: 70px;
    left: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .navbar {
    flex-direction: row;
  }

  .login-btn {
    margin-top: 10px;
  }

  .navbar.active .nav-links {
    display: flex;
  }
}

.name1 {
  background: #5a8ad0;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  width: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

.name2 {
  font-weight: 800;
  color: white;
  margin-left: 5px;
}
