@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Bebas+Neue&family=Gideon+Roman&family=Oswald&family=Rye&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loc {
  margin-left: 5px;
  font-family: "Arapey", serif;
  font-weight: 700;
  margin-bottom: 5px;
}

.icon {
  color: "blue";
  font-size: 30;
}

.icons_footer {
  display: flex;
  flex: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  word-spacing: 2px;
  cursor: pointer;
  margin-top: 5px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 48px;
}

.head {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 10px;
  /* margin-top: 1rem; */
  margin-right: 10px;
  padding: 2rem;
}

.span1 {
  font-family: "Arapey", serif;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0.3rem;
}
.heading {
  color: #000000;
  font-weight: 900;
  margin-bottom: 0.4rem;
}

.rightSide {
  display: flex;
  flex-direction: row;
}
.footer {
  background: #ffffff94;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  /* width: 100%; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .rightSide {
    flex-direction: row;
  }

  .footer {
    flex-direction: row;
  }
}
