.body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.word {
  font-family: "Gideon Roman", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}

.nonee {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 100px;
}

.login-button {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  margin-left: 9rem;
  background-color: #3a73c9;
  border-style: none;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
}

.working {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 397px;
  background: #cad9fbec;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.head0 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.sub {
  text-align: left;
  margin-right: 329px;
}
