.App {
  text-align: center;
  
}


body {
  background: linear-gradient(153deg, #ffffff, #ffffff, #afc2ed, #afc3f3);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: black;
  font-family: Arial, sans-serif;
}